@page
@model MegaDeskWebPages.Pages.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].NumDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].Material)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.MaterialID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeskID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeskID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeskID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
